.App {
  text-align: center;
}

.ant-table-container {
  overflow-x: auto;
}

.ant-row {
  padding: 0.5rem;
}

.form-item-row .ant-row {
  padding: 0 !important;
}

@media only screen and (min-width: 900px) {
  .showOnlySmallScreens {
    display: none;
  }
}
